<h2> Add a Product </h2>


<%= form_for [:admin, @product] do |f| %>
  <%= f.text_area :title %>
  <%= f.text_area :description %>
  <%= f.text_area :quantity %>
  <%= f.text_area :price %>

  <%= f.file_field :pics, multiple: true %>
  <%= f.submit %>
<% end %>
