
<!----->
<div class="product">
		<h2 class="new">NEW ARRIVALS</h2>

        <div class="row">

        <%  @products.each do |product| %>

			<div class="col-md-3 box-in-at">
			<div class=" grid_box portfolio-wrapper">
        <%= link_to product_path(product) do %>
        <% if product.image.present? %>
        <%= image_tag(product.image.thumb.url, class:"thumbnail") %>
          <% else %>
          <%= image_tag("http://placehold.it/200x200?text=商品无图", class:"thumbnail") %>
          <% end %>
					<div class="zoom-icon">
						<ul class="in-by">
								<%= product.title %>
						</ul>
						<ul class="in-by-color">
							 <%= product.description %>
						</ul>

						</div>
		           </div>
               <% end %>
				<!---->
						<div class="grid_1 simpleCart_shelfItem">
							<a href="#" class="cup item_add"><span class=" item_price" ><%= product.price %> $ <i> </i> </span></a>

						</div>
          </div>
					<!---->
				</div>
      </div>
      <% end %>
    </div>
  </div>
