
<!--- product.index --->
<div class="container">
<div class= "product">
      <!------->
    <h2 class="new">NEW ARRIVALS</h2>
    <!------->

    <div class="pink">
    <div class="row>"
            <%  @products.each do |product| %>
            <!------>

			       <div class="col-md-3 box-in-at">

			            <div class=" grid_box portfolio-wrapper">
                    <%= link_to product_path(product) do %>
                      <% if product.image.present? %>
                        <%= image_tag(product.image.thumb.url) %>
                      <% else %>
                      <%= image_tag("http://placehold.it/255x297.5?text=商品无图") %>
                      <% end %>
                      	<div class="zoom-icon">
                          <p><%= product.description %></p>
                          <h3><%= product.title %></h3>
                        </div>
		              </div>

              <div class="grid_1 simpleCart_shelfItem">
   						       <a href="#" class="cup item_add"><span class=" item_price" >€<%= product.price %><i> </i> </span></a>
   						</div>
              <!------>
            </div>
            <% end %>
            <% end %>
          </div>
      </div>
    <!--.--->
  </div>

</div>








 
